* {
  margin: 0%;
  padding: 0%;
  text-decoration: none;
}

body{
  background-color: #740001;
  background-image: url(../../assets/fondo2.jpg);
  background-attachment: fixed;
  background-size: cover;
}


